/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
  }
  
  .container {
    max-width: 500px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  input[type="button"],
  button {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  input[type="button"]:hover,
  button:hover {
    background-color: #555;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
  }
  
  #newUserForm {
    display: none;
  }
  
  /* Header styles */
  .header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__logo {
    font-size: 24px;
  }
  
  .nav__title {
    margin: 0;
  }
  
  .nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav__item {
    margin-right: 20px;
  }
  
  .nav__link {
    color: #fff;
    text-decoration: none;
  }
  
  .nav__link:hover {
    text-decoration: underline;
  }
  
  /* Footer styles */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin-top: 50px;
    text-align: center;
  }
  a, a:visited {
    color: inherit;
}

/* Existing styles... */

/* Portal Menu styles */
.portal-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.menu-item {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.menu-item h3, 
.menu-item p {
    margin: 5px 0;
}

.menu-item:hover {
    background-color: #555;
}


.suggestionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}